header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: 0;
}

.sky,
.mountain,
.clouds,
.hero {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sky {
    transform: translateZ(-10px) scale(2);
}

.mountain {
    transform: translateZ(-5px) scale(1.5);
}

.clouds {
    transform: translateY(3vh) translateZ(-2.5px) scale(1.25);
}

.hero {
    margin-left: 90px;
    top: 25vh;
    line-height: 10vh;
    transform: translateZ(-8px) scale(1.8);
}

.title {
    font-family: 'Silkscreen';
    font-size: 9rem;
    color: #f1bb4d;
    text-shadow: 4px -4px #0d1317;
}

.title b {
    color: rgb(235, 192, 107);
}

.subtitle {
    font-family: 'Pixelify';
    font-size: 3.5rem;
    color: rgb(205, 233, 246);
    margin-left: 15px;
    text-shadow: 1px 1px 0px #000000, -1px 1px 3px #0b474f, 4px -4px 3px #0b474f, -2px -2px 0px #000000;

}

@font-face {
    font-family: 'Jersey';
    src: url('/src/assets/Fonts/Jersey_10/Jersey10-Regular.ttf');
}

@font-face {
    font-family: 'Pixelify';
    src: url('/src/assets/Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/src/assets/Fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
}