.pixel-skills,
.pixel-skills--wrapper {
    clip-path: polygon(0px calc(100% - 30px),
            3px calc(100% - 30px),
            3px calc(100% - 24px),
            6px calc(100% - 24px),
            6px calc(100% - 18px),
            9px calc(100% - 18px),
            9px calc(100% - 15px),
            12px calc(100% - 15px),
            12px calc(100% - 12px),
            15px calc(100% - 12px),
            15px calc(100% - 9px),
            18px calc(100% - 9px),
            18px calc(100% - 6px),
            24px calc(100% - 6px),
            24px calc(100% - 3px),
            30px calc(100% - 3px),
            30px 100%,
            calc(100% - 30px) 100%,
            calc(100% - 30px) calc(100% - 3px),
            calc(100% - 24px) calc(100% - 3px),
            calc(100% - 24px) calc(100% - 6px),
            calc(100% - 18px) calc(100% - 6px),
            calc(100% - 18px) calc(100% - 9px),
            calc(100% - 15px) calc(100% - 9px),
            calc(100% - 15px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 15px),
            calc(100% - 9px) calc(100% - 15px),
            calc(100% - 9px) calc(100% - 18px),
            calc(100% - 6px) calc(100% - 18px),
            calc(100% - 6px) calc(100% - 24px),
            calc(100% - 3px) calc(100% - 24px),
            calc(100% - 3px) calc(100% - 30px),
            100% calc(100% - 30px),
            100% 30px,
            calc(100% - 3px) 30px,
            calc(100% - 3px) 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) 18px,
            calc(100% - 9px) 18px,
            calc(100% - 9px) 15px,
            calc(100% - 12px) 15px,
            calc(100% - 12px) 12px,
            calc(100% - 15px) 12px,
            calc(100% - 15px) 9px,
            calc(100% - 18px) 9px,
            calc(100% - 18px) 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 3px,
            calc(100% - 30px) 3px,
            calc(100% - 30px) 0px,
            30px 0px,
            30px 3px,
            24px 3px,
            24px 6px,
            18px 6px,
            18px 9px,
            15px 9px,
            15px 12px,
            12px 12px,
            12px 15px,
            9px 15px,
            9px 18px,
            6px 18px,
            6px 24px,
            3px 24px,
            3px 30px,
            0px 30px);
    position: relative;
}

.pixel-skills {
    border: 6px solid transparent;
}

.pixel-skills--wrapper {
    width: fit-content;
    height: fit-content;
}

.pixel-skills--wrapper .pixel-skills {
    display: block;
    clip-path: polygon(6px 33px,
            9px 33px,
            9px 27px,
            12px 27px,
            12px 21px,
            15px 21px,
            15px 18px,
            18px 18px,
            18px 15px,
            21px 15px,
            21px 12px,
            27px 12px,
            27px 9px,
            33px 9px,
            33px 6px,
            calc(100% - 33px) 6px,
            calc(100% - 33px) 9px,
            calc(100% - 27px) 9px,
            calc(100% - 27px) 12px,
            calc(100% - 21px) 12px,
            calc(100% - 21px) 15px,
            calc(100% - 18px) 15px,
            calc(100% - 18px) 18px,
            calc(100% - 15px) 18px,
            calc(100% - 15px) 21px,
            calc(100% - 12px) 21px,
            calc(100% - 12px) 27px,
            calc(100% - 9px) 27px,
            calc(100% - 9px) 33px,
            calc(100% - 6px) 33px,
            calc(100% - 6px) calc(100% - 33px),
            calc(100% - 9px) calc(100% - 33px),
            calc(100% - 9px) calc(100% - 27px),
            calc(100% - 12px) calc(100% - 27px),
            calc(100% - 12px) calc(100% - 21px),
            calc(100% - 15px) calc(100% - 21px),
            calc(100% - 15px) calc(100% - 18px),
            calc(100% - 18px) calc(100% - 18px),
            calc(100% - 18px) calc(100% - 15px),
            calc(100% - 21px) calc(100% - 15px),
            calc(100% - 21px) calc(100% - 12px),
            calc(100% - 27px) calc(100% - 12px),
            calc(100% - 27px) calc(100% - 9px),
            calc(100% - 33px) calc(100% - 9px),
            calc(100% - 33px) calc(100% - 6px),
            33px calc(100% - 6px),
            33px calc(100% - 9px),
            27px calc(100% - 9px),
            27px calc(100% - 12px),
            21px calc(100% - 12px),
            21px calc(100% - 15px),
            18px calc(100% - 15px),
            18px calc(100% - 18px),
            15px calc(100% - 18px),
            15px calc(100% - 21px),
            12px calc(100% - 21px),
            12px calc(100% - 27px),
            9px calc(100% - 27px),
            9px calc(100% - 33px),
            6px calc(100% - 33px));
}

.pixel-skills::after,
.pixel-skills--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 30px),
            3px calc(100% - 30px),
            3px calc(100% - 24px),
            6px calc(100% - 24px),
            6px calc(100% - 18px),
            9px calc(100% - 18px),
            9px calc(100% - 15px),
            12px calc(100% - 15px),
            12px calc(100% - 12px),
            15px calc(100% - 12px),
            15px calc(100% - 9px),
            18px calc(100% - 9px),
            18px calc(100% - 6px),
            24px calc(100% - 6px),
            24px calc(100% - 3px),
            30px calc(100% - 3px),
            30px 100%,
            calc(100% - 30px) 100%,
            calc(100% - 30px) calc(100% - 3px),
            calc(100% - 24px) calc(100% - 3px),
            calc(100% - 24px) calc(100% - 6px),
            calc(100% - 18px) calc(100% - 6px),
            calc(100% - 18px) calc(100% - 9px),
            calc(100% - 15px) calc(100% - 9px),
            calc(100% - 15px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 15px),
            calc(100% - 9px) calc(100% - 15px),
            calc(100% - 9px) calc(100% - 18px),
            calc(100% - 6px) calc(100% - 18px),
            calc(100% - 6px) calc(100% - 24px),
            calc(100% - 3px) calc(100% - 24px),
            calc(100% - 3px) calc(100% - 30px),
            100% calc(100% - 30px),
            100% 30px,
            calc(100% - 3px) 30px,
            calc(100% - 3px) 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) 18px,
            calc(100% - 9px) 18px,
            calc(100% - 9px) 15px,
            calc(100% - 12px) 15px,
            calc(100% - 12px) 12px,
            calc(100% - 15px) 12px,
            calc(100% - 15px) 9px,
            calc(100% - 18px) 9px,
            calc(100% - 18px) 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 3px,
            calc(100% - 30px) 3px,
            calc(100% - 30px) 0px,
            30px 0px,
            30px 3px,
            24px 3px,
            24px 6px,
            18px 6px,
            18px 9px,
            15px 9px,
            15px 12px,
            12px 12px,
            12px 15px,
            9px 15px,
            9px 18px,
            6px 18px,
            6px 24px,
            3px 24px,
            3px 30px,
            0px 30px,
            0px 50%,
            6px 50%,
            6px 33px,
            9px 33px,
            9px 27px,
            12px 27px,
            12px 21px,
            15px 21px,
            15px 18px,
            18px 18px,
            18px 15px,
            21px 15px,
            21px 12px,
            27px 12px,
            27px 9px,
            33px 9px,
            33px 6px,
            calc(100% - 33px) 6px,
            calc(100% - 33px) 9px,
            calc(100% - 27px) 9px,
            calc(100% - 27px) 12px,
            calc(100% - 21px) 12px,
            calc(100% - 21px) 15px,
            calc(100% - 18px) 15px,
            calc(100% - 18px) 18px,
            calc(100% - 15px) 18px,
            calc(100% - 15px) 21px,
            calc(100% - 12px) 21px,
            calc(100% - 12px) 27px,
            calc(100% - 9px) 27px,
            calc(100% - 9px) 33px,
            calc(100% - 6px) 33px,
            calc(100% - 6px) calc(100% - 33px),
            calc(100% - 9px) calc(100% - 33px),
            calc(100% - 9px) calc(100% - 27px),
            calc(100% - 12px) calc(100% - 27px),
            calc(100% - 12px) calc(100% - 21px),
            calc(100% - 15px) calc(100% - 21px),
            calc(100% - 15px) calc(100% - 18px),
            calc(100% - 18px) calc(100% - 18px),
            calc(100% - 18px) calc(100% - 15px),
            calc(100% - 21px) calc(100% - 15px),
            calc(100% - 21px) calc(100% - 12px),
            calc(100% - 27px) calc(100% - 12px),
            calc(100% - 27px) calc(100% - 9px),
            calc(100% - 33px) calc(100% - 9px),
            calc(100% - 33px) calc(100% - 6px),
            33px calc(100% - 6px),
            33px calc(100% - 9px),
            27px calc(100% - 9px),
            27px calc(100% - 12px),
            21px calc(100% - 12px),
            21px calc(100% - 15px),
            18px calc(100% - 15px),
            18px calc(100% - 18px),
            15px calc(100% - 18px),
            15px calc(100% - 21px),
            12px calc(100% - 21px),
            12px calc(100% - 27px),
            9px calc(100% - 27px),
            9px calc(100% - 33px),
            6px calc(100% - 33px),
            6px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #486c75;
    display: block;
    pointer-events: none;
}

.pixel-skills::after {
    margin: -6px;
}