.skills {
    margin-top: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #333;
}

/* NAV */

.skills-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-family: 'Silkscreen';
    margin-top: 50px;
}

.skills-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.skills-nav-item img.icon {
    width: 55px;
    height: 55px;
    margin: 2px 5px 0 -7px;
}

.skills button:nth-child(2) .icon {
    margin-left: -12px;
    margin-right: 2px;
}

.skills button:nth-child(3) .icon {
    margin: -8px 13px 0 2px;
}

.skills-nav-item:hover {
    background-color: #e0e0e0;
}

.skills-nav-item.active {
    background-color: #ccc;
}

.skills-content {
    display: none;
    /* Other styles */
}

.skills-content.active {
    display: block;
}


/* GRID */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 950px;
    height: auto;
    margin-left: -50px;
}

.skill-item {
    text-align: center;
}

#tech-skills .skill-item img {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

#soft-skills .skill-item img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

#languages .skill-item img {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

.skill-item p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'Pixelify';
}


@media screen and (max-width: 930px) {
    .skills-nav-item {
        width: 25vw;
        padding-left: 33px;
    }

    .skills-nav-item p {
        display: none;
    }
}