.skills {
    margin-top: 20px;
}

.skills-container {
    background-color: #333;
}

.skills-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Silkscreen';
    margin-top: 50px;
}

.skills-nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.skills-nav-item img.icon {
    width: 55px;
    height: 55px;
    margin: 2px 5px 0 -7px;
}

.skills button:nth-child(2) .icon {
    margin-left: -12px;
    margin-right: 2px;
}

.skills button:nth-child(3) .icon {
    margin: -8px 13px 0 2px;
}

.skills-nav-item:hover {
    background-color: #e0e0e0;
}

.skills-nav-item.active {
    background-color: #ccc;
}

.skills-content {
    display: none;
    font-family: 'Pixelify';
}

.skills-content.active {
    display: block;
}